<router-outlet></router-outlet>


<!-- home page -->

<div *ngIf="currentDiv=='home'" style="" class="mainwrap flexify">


  <img src="../assets/download.png" alt="">

  <h2 style="font-family: Impact;">Product Defect Identification System using Text Mining</h2>


</div>

<div *ngIf="currentDiv=='home'" class="mainwrap">

  <button (click)="switchView('train-one')" mat-raised-button color="primary">Train</button>

  <span style="width: 6px;"></span>
  <button (click)="switchView('test-one')" mat-raised-button color="primary">Test</button>

</div>

<!-- choose dataset page -->
<div *ngIf="currentDiv=='train-one'" style="flex-direction: column;" class="mainwrap">


  <h4>Choose Dataset to continue</h4>
  <input (change)="fileChangeListener($event)" type="file">
  <p>

  </p>
  <button (click)="switchView('train-features')" mat-raised-button color="primary">Proceed</button>
  <button (click)="switchView('home')" mat-flat-button color="light">back</button>

</div>

<!-- select evaluation metricsand train model -->
<div *ngIf="currentDiv=='train-features'" style="flex-direction: column;" class="mainwrap">



  <h4>Choose Features for Training</h4>

  <mat-checkbox color="primary" class="example-margin">
    <p class="fNames">
      Uni gram
    </p>
  </mat-checkbox>

  <mat-checkbox color="primary" class="example-margin">
    <p class="fNames">
      bi gram
    </p>
  </mat-checkbox>

  <mat-checkbox color="primary" class="example-margin">
    <p class="fNames">
      Tri gram
    </p>
  </mat-checkbox>

  <button (click)="switchView('train-two')" mat-raised-button color="primary">Train
    Model</button>
  <button (click)="switchView('train-two')" mat-flat-button color="light">back</button>


</div>


<!-- select evaluation metricsand train model -->
<div *ngIf="currentDiv=='train-two'" style="flex-direction: column;" class="mainwrap">



  <h4>Choose Options for Training</h4>
  <mat-form-field appearance="fill">
    <mat-label>Evaluation Metrics</mat-label>
    <mat-select>
      <mat-option>
        precision
      </mat-option>

      <mat-option>
        accuracy
      </mat-option>

      <mat-option>
        recall
      </mat-option>

      <mat-option>
        f measures
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button (click)="showAlert('Model training is under progress!!')" mat-raised-button color="primary">Train
    Model</button>
  <button (click)="switchView('train-one')" mat-flat-button color="light">back</button>


</div>



<!-- Test page -->
<div *ngIf="currentDiv=='test-one'" class="mainwrap" style="flex-direction: column;">

  <h4>Enter unseen querry to test model</h4>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Enter Unseen data</mat-label>
    <textarea matInput placeholder="Enter any unseen querry"></textarea>
  </mat-form-field>

  <button (click)="showAlert('Predicted class label is ')" mat-raised-button color="primary">Test
    Model</button>
  <button (click)="switchView('home')" mat-flat-button color="light">back</button>

</div>